Repository Jigeum-lab/web: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

.lintstagedrc.json:

{
  "packages/ui/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace @repo/ui lint --cache"
  ],
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace web lint --cache"
  ]
}

Badge 컴포넌트 개발 (#6)
  apps/storybook/stories/Badge.stories.ts
  packages/ui/src/components/badge/badge.tsx
  packages/ui/src/components/badge/index.module.scss
  packages/ui/src/components/badge/index.ts
  packages/ui/src/components/index.ts
  packages/ui/src/styles/mixin/functions/index.scss
Due: yarn workspace @repo/ui lint --cache

이미지 컴포넌트 개발 (#7)
  apps/storybook/stories/Image.stories.tsx
  packages/ui/src/components/image/image.tsx
  packages/ui/src/components/image/index.module.scss
  packages/ui/src/components/image/index.ts
  packages/ui/src/components/index.ts
Due: yarn workspace @repo/ui lint --cache

chore: tsconfig.json 설정 변경
  packages/ui/tsconfig.json
Due: none

feat: input 컴포넌트 구현
  packages/ui/src/components/index.ts
  packages/ui/src/components/input/index.module.scss
  packages/ui/src/components/input/index.ts
  packages/ui/src/components/input/input.tsx
Due: yarn workspace @repo/ui lint --cache

feat: avatar 컴포넌트 개발
  packages/ui/src/components/avatar/avatar.tsx
  packages/ui/src/components/avatar/index.module.scss
  packages/ui/src/components/avatar/index.ts
  packages/ui/src/components/index.ts
Due: yarn workspace @repo/ui lint --cache

style: svg props 변경 및 viewBox 수정
  packages/ui/src/components/icon/_components/assets/icon/icPersonFill.tsx
Due: yarn workspace @repo/ui lint --cache

feat(checkbox): 체크박스 컴포넌트 개발
  apps/storybook/stories/Checkbox.stories.ts
  packages/ui/src/components/checkbox/checkbox.tsx
  packages/ui/src/components/checkbox/index.module.scss
  packages/ui/src/components/checkbox/index.ts
  packages/ui/src/components/icon/_components/assets/icon/icCheck.tsx
  packages/ui/src/components/index.ts
Due: yarn workspace @repo/ui lint --cache

feat(floating-button): 플로팅 버튼 컴포넌트 개발
  apps/storybook/stories/FloatingButton.stories.ts
  packages/ui/src/components/floating-button/floating-button.tsx
  packages/ui/src/components/floating-button/index.module.scss
  packages/ui/src/components/floating-button/index.ts
  packages/ui/src/components/index.ts
Due: yarn workspace @repo/ui lint --cache

chore(icon): 아이콘 컴포넌트 이름 변경
  apps/storybook/stories/Icon.stories.tsx
  packages/ui/src/components/icon/icon.type.ts
Due: yarn workspace @repo/ui lint --cache

feat(icon): add SignIn 아이콘 컴포넌트
  packages/ui/src/components/icon/_components/assets/icon/icSignIn.tsx
  packages/ui/src/components/icon/icon.type.ts
Due: yarn workspace @repo/ui lint --cache

refactor(checkbox): 체크박스 컴포넌트 리팩토링
  apps/storybook/stories/Checkbox.stories.ts
  packages/ui/src/components/checkbox/checkbox.tsx
  packages/ui/src/components/checkbox/index.module.scss
  packages/ui/src/components/icon/_components/assets/icon/icCheck.tsx
Due: yarn workspace @repo/ui lint --cache

feat(layout): font 경로 변경
  apps/web/src/app/layout.tsx
  apps/web/src/styles/fonts/Pretendard-Bold.subset.woff2
  apps/web/src/styles/fonts/Pretendard-Medium.subset.woff2
  apps/web/src/styles/fonts/Pretendard-Regular.subset.woff2
  apps/web/src/styles/fonts/Pretendard-SemiBold.subset.woff2
  apps/web/src/styles/fonts/index.tsx
Due: yarn workspace web lint --cache

feat(layout): modal 컴포넌트 생성
  apps/web/src/app/layout.tsx
  apps/web/src/app/modal/page.tsx
  apps/web/src/app/modal/view.tsx
  apps/web/src/components/basic/Modal.tsx
  apps/web/src/context/ClientContext.tsx
  apps/web/src/hooks/useBlockScrolling.ts
  apps/web/src/styles/global.scss
Due: yarn workspace web lint --cache

feat(layout): header, bottom 영역 지정
  apps/web/src/app/layout.tsx
  apps/web/src/components/basic/Bottom/Bottom.tsx
  apps/web/src/components/basic/Bottom/index.ts
  apps/web/src/components/basic/Header/Header.tsx
  apps/web/src/components/basic/Header/index.ts
  apps/web/src/styles/global.scss
  packages/ui/src/styles/mixin/functions/index.scss
  packages/ui/src/styles/mixin/tokens/_deviceSizes.scss
  packages/ui/src/styles/mixin/tokens/index.scss
  packages/ui/src/styles/mixin/variabless/_deviceSizes.scss
  packages/ui/src/styles/mixin/variabless/index.scss
Due: yarn workspace web lint --cache

feat(header): header 임시 작업
  apps/storybook/stories/Icon.stories.tsx
  apps/web/.stylelintrc.js
  apps/web/src/components/basic/Header/Header.tsx
  apps/web/src/components/basic/Header/HeaderView.tsx
  apps/web/src/components/basic/Header/index.module.scss
  packages/ui/src/components/icon/_components/assets/icon/icBell.tsx
  packages/ui/src/components/icon/_components/assets/icon/icLogo.tsx
  packages/ui/src/components/icon/_components/assets/icon/icSearch.tsx
  packages/ui/src/components/icon/_components/assets/icon/index.ts
  packages/ui/src/components/icon/icon.tsx
  packages/ui/src/components/icon/icon.type.ts
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat(image): 로딩에 대해서 초기상태값 변경
  apps/web/src/app/[lang]/modal/view.tsx
  packages/ui/src/components/image/image.tsx
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat(i18n): messages 사용방법 변경
  apps/web/messages/en/common.json
  apps/web/messages/en/home.json
  apps/web/messages/en/index.js
  apps/web/messages/ko/common.json
  apps/web/messages/ko/home.json
  apps/web/messages/ko/index.js
  apps/web/src/app/[lang]/page.tsx
  apps/web/src/i18n/request.js
Due: yarn workspace web lint --cache

feat(header): 로그인기능 테스트
  .gitignore
  apps/web/src/components/basic/Header/Header.tsx
  apps/web/src/components/basic/Header/_components/MobileView/MobileView.tsx
Due: yarn workspace web lint --cache

feat(header): mobile ui 적용
  apps/web/src/components/basic/Header/HeaderView.tsx
  apps/web/src/components/basic/Header/index.module.scss
  apps/web/src/hooks/useScreenSize.ts
Due: yarn workspace web lint --cache

feat(i18n): 다국어 기능 추가
  apps/storybook/stories/Header.stories.ts
  apps/web/messages/en.json
  apps/web/messages/ko.json
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/app/[lang]/auth/signin/hooks/index.ts
  apps/web/src/app/[lang]/auth/signin/hooks/useMainCharacterViewModel.ts
  apps/web/src/app/[lang]/auth/signin/page.tsx
  apps/web/src/app/[lang]/auth/signin/styles/index.module.scss
  apps/web/src/app/[lang]/auth/signin/view.tsx
  apps/web/src/app/[lang]/layout.tsx
  apps/web/src/app/[lang]/modal/page.tsx
  apps/web/src/app/[lang]/modal/view.tsx
  apps/web/src/app/[lang]/page.tsx
  apps/web/src/i18n/request.js
  apps/web/src/i18n/routing.js
  apps/web/src/middleware.ts
  yarn.lock
Due: yarn workspace web lint --cache

feat: header, footer 설정
  apps/storybook/stories/Header.stories.ts
  apps/web/src/app/layout.tsx
  apps/web/src/components/basic/Bottom/Bottom.tsx
  apps/web/src/components/basic/Bottom/index.ts
  apps/web/src/components/basic/Footer/Footer.tsx
  apps/web/src/components/basic/Footer/index.module.scss
  apps/web/src/components/basic/Footer/index.ts
  apps/web/src/components/basic/Header/HeaderView.tsx
  apps/web/src/components/basic/Header/_components/MenuItem.tsx
  apps/web/src/components/basic/Header/_components/index.module.scss
  apps/web/src/components/basic/Header/data.ts
  apps/web/src/components/basic/Header/index.module.scss
  packages/ui/src/components/button/button.tsx
  packages/ui/src/components/button/index.module.scss
  packages/ui/src/components/icon/icon.type.ts
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat(image): 이미지 컴포넌트 오류 수정
  apps/web/src/app/[lang]/modal/view.tsx
  packages/ui/src/components/image/image.tsx
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat(header): header 컴포넌트 분리
  apps/web/src/components/basic/Header/HeaderView.tsx
  apps/web/src/components/basic/Header/_components/DesktopView/DesktopView.tsx
  apps/web/src/components/basic/Header/_components/DesktopView/index.module.scss
  apps/web/src/components/basic/Header/_components/DesktopView/index.ts
  apps/web/src/components/basic/Header/_components/MenuItem/MenuItem.tsx
  apps/web/src/components/basic/Header/_components/MenuItem/index.module.scss
  apps/web/src/components/basic/Header/_components/MenuItem/index.ts
  apps/web/src/components/basic/Header/_components/MobileView/MobileView.tsx
  apps/web/src/components/basic/Header/_components/MobileView/index.module.scss
  apps/web/src/components/basic/Header/_components/MobileView/index.ts
  apps/web/src/components/basic/Header/_components/index.ts
  apps/web/src/components/basic/Header/data.ts
  apps/web/src/styles/global.scss
Due: yarn workspace web lint --cache

feat(layout): bottom sheet 라이브러리 추가
  apps/web/package.json
  apps/web/src/app/[lang]/modal/view.tsx
  yarn.lock
Due: yarn workspace web lint --cache

feat(i18n): i18n middleware 변경
  apps/web/src/i18n/routing.js
  apps/web/src/middleware.ts
Due: yarn workspace web lint --cache

feat(layout): add a favicon
  apps/web/public/favicon.ico
  apps/web/src/app/[lang]/layout.tsx
Due: yarn workspace web lint --cache

feat(layout): h1 tag 추가
  apps/web/src/components/basic/Header/HeaderView.tsx
Due: yarn workspace web lint --cache

feat(swiper): swiper 컴포넌트 추가
  apps/web/package.json
  apps/web/src/app/[lang]/modal/view.tsx
  apps/web/src/components/basic/SwiperContainer/SwiperContainer.tsx
  apps/web/src/components/basic/SwiperContainer/index.module.scss
  apps/web/src/components/basic/SwiperContainer/index.ts
  apps/web/src/styles/global.scss
  packages/ui/src/components/button/button.tsx
  yarn.lock
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat(modal): modal 컴포넌트 공통화작업
  apps/web/src/app/[lang]/modal/view.tsx
  apps/web/src/components/basic/Modal/Modal.tsx
  apps/web/src/components/basic/Modal/index.ts
  apps/web/src/components/basic/ModalSheet/ModalSheet.tsx
  apps/web/src/components/basic/ModalSheet/index.ts
Due: yarn workspace web lint --cache

feat(layout): swiper 컴포넌트 추가
  apps/web/src/app/[lang]/modal/view.tsx
  apps/web/src/components/basic/SwiperContainer/SwiperContainer.tsx
  apps/web/src/components/basic/SwiperContainer/index.module.scss
  apps/web/src/context/ClientContext.tsx
  packages/ui/src/components/floating-button/floating-button.tsx
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat(tab): 탭 컴포넌트 예시 추가
  apps/web/src/app/[lang]/modal/view.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/tab-component/index.module.scss
  packages/ui/src/components/tab-component/index.ts
  packages/ui/src/components/tab-component/tab-component.tsx
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat: 탭 컴포넌트 추가
  apps/web/src/app/[lang]/modal/view.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/indicator/index.module.scss
  packages/ui/src/components/indicator/index.ts
  packages/ui/src/components/indicator/indicator.tsx
  packages/ui/src/components/tab-component/index.module.scss
  packages/ui/src/components/tab-component/tab-component.tsx
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat(swiper): pagination 기능 추가
  apps/web/src/components/basic/SwiperContainer/SwiperContainer.tsx
Due: yarn workspace web lint --cache

feat: tag 컴포넌트 스토리북 추가
  apps/storybook/stories/Tab.stories.tsx
  apps/web/src/app/[lang]/modal/view.tsx
Due: yarn workspace web lint --cache

feat(sidebar): transition 적용되게 기능 변경
  apps/web/src/components/basic/Header/Header.tsx
  apps/web/src/components/basic/Header/_components/MobileView/MobileView.tsx
Due: yarn workspace web lint --cache

refactor(checkbox): 체크박스 컴포넌트 import Lint 수정
  packages/ui/src/components/checkbox/checkbox.tsx
Due: yarn workspace @repo/ui lint --cache

feat: swapping 버튼 개발
  packages/ui/src/components/swapping/index.module.scss
  packages/ui/src/components/swapping/swapping.tsx
Due: yarn workspace @repo/ui lint --cache

feat: swapping 버튼 export
  packages/ui/src/components/index.ts
  packages/ui/src/components/swapping/index.ts
Due: yarn workspace @repo/ui lint --cache

feat: left, right를 options로 변경
  packages/ui/src/components/swapping/swapping.tsx
Due: yarn workspace @repo/ui lint --cache

feat: 여러개의 option을 받을 수 있도록 변경
  packages/ui/src/components/swapping/swapping.tsx
Due: yarn workspace @repo/ui lint --cache
