Repository Jigeum-lab/web: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

chore: tsconfig.json 설정 변경
  packages/ui/tsconfig.json
Due: none

feat: props에 text 추가
  packages/ui/src/components/input/input.tsx
Due: yarn workspace @repo/ui lint --cache

feat: input 컴포넌트 구현
  packages/ui/src/components/index.ts
  packages/ui/src/components/input/index.module.scss
  packages/ui/src/components/input/index.ts
  packages/ui/src/components/input/input.tsx
Due: yarn workspace @repo/ui lint --cache

feat: placeholder도 옵셔널로 받을수 있도록 변경
  packages/ui/src/components/input/input.tsx
Due: yarn workspace @repo/ui lint --cache

feat: caret-color 반영 완료
  packages/ui/src/components/input/index.module.scss
Due: none

feat: type도 export
  packages/ui/src/components/input/index.ts
  packages/ui/src/components/input/input.tsx
Due: yarn workspace @repo/ui lint --cache

feat: add button props
  packages/ui/src/components/input/input.tsx
Due: yarn workspace @repo/ui lint --cache

refactor: stylelint 적용
  packages/ui/src/components/input/index.module.scss
Due: none

feat: name 필수로 변경
  packages/ui/src/components/input/input.tsx
Due: yarn workspace @repo/ui lint --cache

feat: showRightIcon 추가
  packages/ui/src/components/input/input.tsx
Due: yarn workspace @repo/ui lint --cache

fix: stylelint 해결
  packages/ui/src/components/input/index.module.scss
Due: none

feat: icon여부 optional로 수정
  packages/ui/src/components/input/input.tsx
Due: yarn workspace @repo/ui lint --cache

feat: button disabled 처리 추가
  packages/ui/src/components/input/input.tsx
Due: yarn workspace @repo/ui lint --cache

feat: invalid 우선 순위 높이도록 변경
  packages/ui/src/components/input/index.module.scss
Due: none

feat(layout): header, bottom 영역 지정
  apps/web/src/app/layout.tsx
  apps/web/src/components/basic/Bottom/Bottom.tsx
  apps/web/src/components/basic/Bottom/index.ts
  apps/web/src/components/basic/Header/Header.tsx
  apps/web/src/components/basic/Header/index.ts
  apps/web/src/styles/global.scss
  packages/ui/src/styles/mixin/functions/index.scss
  packages/ui/src/styles/mixin/tokens/_deviceSizes.scss
  packages/ui/src/styles/mixin/tokens/index.scss
  packages/ui/src/styles/mixin/variabless/_deviceSizes.scss
  packages/ui/src/styles/mixin/variabless/index.scss
Due: yarn workspace web lint --cache

feat(header): header 임시 작업
  apps/storybook/stories/Icon.stories.tsx
  apps/web/.stylelintrc.js
  apps/web/src/components/basic/Header/Header.tsx
  apps/web/src/components/basic/Header/HeaderView.tsx
  apps/web/src/components/basic/Header/index.module.scss
  packages/ui/src/components/icon/_components/assets/icon/icBell.tsx
  packages/ui/src/components/icon/_components/assets/icon/icLogo.tsx
  packages/ui/src/components/icon/_components/assets/icon/icSearch.tsx
  packages/ui/src/components/icon/_components/assets/icon/index.ts
  packages/ui/src/components/icon/icon.tsx
  packages/ui/src/components/icon/icon.type.ts
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat(layout): font 경로 변경
  apps/web/src/app/layout.tsx
  apps/web/src/styles/fonts/Pretendard-Bold.subset.woff2
  apps/web/src/styles/fonts/Pretendard-Medium.subset.woff2
  apps/web/src/styles/fonts/Pretendard-Regular.subset.woff2
  apps/web/src/styles/fonts/Pretendard-SemiBold.subset.woff2
  apps/web/src/styles/fonts/index.tsx
Due: yarn workspace web lint --cache

feat(layout): modal 컴포넌트 생성
  apps/web/src/app/layout.tsx
  apps/web/src/app/modal/page.tsx
  apps/web/src/app/modal/view.tsx
  apps/web/src/components/basic/Modal.tsx
  apps/web/src/context/ClientContext.tsx
  apps/web/src/hooks/useBlockScrolling.ts
  apps/web/src/styles/global.scss
Due: yarn workspace web lint --cache

feat: header, footer 설정
  apps/storybook/stories/Header.stories.ts
  apps/web/src/app/layout.tsx
  apps/web/src/components/basic/Bottom/Bottom.tsx
  apps/web/src/components/basic/Bottom/index.ts
  apps/web/src/components/basic/Footer/Footer.tsx
  apps/web/src/components/basic/Footer/index.module.scss
  apps/web/src/components/basic/Footer/index.ts
  apps/web/src/components/basic/Header/HeaderView.tsx
  apps/web/src/components/basic/Header/_components/MenuItem.tsx
  apps/web/src/components/basic/Header/_components/index.module.scss
  apps/web/src/components/basic/Header/data.ts
  apps/web/src/components/basic/Header/index.module.scss
  packages/ui/src/components/button/button.tsx
  packages/ui/src/components/button/index.module.scss
  packages/ui/src/components/icon/icon.type.ts
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat(i18n): 다국어 기능 추가
  apps/storybook/stories/Header.stories.ts
  apps/web/messages/en.json
  apps/web/messages/ko.json
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/app/[lang]/auth/signin/hooks/index.ts
  apps/web/src/app/[lang]/auth/signin/hooks/useMainCharacterViewModel.ts
  apps/web/src/app/[lang]/auth/signin/page.tsx
  apps/web/src/app/[lang]/auth/signin/styles/index.module.scss
  apps/web/src/app/[lang]/auth/signin/view.tsx
  apps/web/src/app/[lang]/layout.tsx
  apps/web/src/app/[lang]/modal/page.tsx
  apps/web/src/app/[lang]/modal/view.tsx
  apps/web/src/app/[lang]/page.tsx
  apps/web/src/i18n/request.js
  apps/web/src/i18n/routing.js
  apps/web/src/middleware.ts
  yarn.lock
Due: yarn workspace web lint --cache

feat(layout): h1 tag 추가
  apps/web/src/components/basic/Header/HeaderView.tsx
Due: yarn workspace web lint --cache

feat(modal): modal 컴포넌트 공통화작업
  apps/web/src/app/[lang]/modal/view.tsx
  apps/web/src/components/basic/Modal/Modal.tsx
  apps/web/src/components/basic/Modal/index.ts
  apps/web/src/components/basic/ModalSheet/ModalSheet.tsx
  apps/web/src/components/basic/ModalSheet/index.ts
Due: yarn workspace web lint --cache

feat(image): 로딩에 대해서 초기상태값 변경
  apps/web/src/app/[lang]/modal/view.tsx
  packages/ui/src/components/image/image.tsx
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat(i18n): i18n middleware 변경
  apps/web/src/i18n/routing.js
  apps/web/src/middleware.ts
Due: yarn workspace web lint --cache

feat(swiper): swiper 컴포넌트 추가
  apps/web/package.json
  apps/web/src/app/[lang]/modal/view.tsx
  apps/web/src/components/basic/SwiperContainer/SwiperContainer.tsx
  apps/web/src/components/basic/SwiperContainer/index.module.scss
  apps/web/src/components/basic/SwiperContainer/index.ts
  apps/web/src/styles/global.scss
  packages/ui/src/components/button/button.tsx
  yarn.lock
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat(header): header 컴포넌트 분리
  apps/web/src/components/basic/Header/HeaderView.tsx
  apps/web/src/components/basic/Header/_components/DesktopView/DesktopView.tsx
  apps/web/src/components/basic/Header/_components/DesktopView/index.module.scss
  apps/web/src/components/basic/Header/_components/DesktopView/index.ts
  apps/web/src/components/basic/Header/_components/MenuItem/MenuItem.tsx
  apps/web/src/components/basic/Header/_components/MenuItem/index.module.scss
  apps/web/src/components/basic/Header/_components/MenuItem/index.ts
  apps/web/src/components/basic/Header/_components/MobileView/MobileView.tsx
  apps/web/src/components/basic/Header/_components/MobileView/index.module.scss
  apps/web/src/components/basic/Header/_components/MobileView/index.ts
  apps/web/src/components/basic/Header/_components/index.ts
  apps/web/src/components/basic/Header/data.ts
  apps/web/src/styles/global.scss
Due: yarn workspace web lint --cache

feat(header): 로그인기능 테스트
  .gitignore
  apps/web/src/components/basic/Header/Header.tsx
  apps/web/src/components/basic/Header/_components/MobileView/MobileView.tsx
Due: yarn workspace web lint --cache

feat(layout): add a favicon
  apps/web/public/favicon.ico
  apps/web/src/app/[lang]/layout.tsx
Due: yarn workspace web lint --cache

feat(i18n): messages 사용방법 변경
  apps/web/messages/en/common.json
  apps/web/messages/en/home.json
  apps/web/messages/en/index.js
  apps/web/messages/ko/common.json
  apps/web/messages/ko/home.json
  apps/web/messages/ko/index.js
  apps/web/src/app/[lang]/page.tsx
  apps/web/src/i18n/request.js
Due: yarn workspace web lint --cache

feat(header): mobile ui 적용
  apps/web/src/components/basic/Header/HeaderView.tsx
  apps/web/src/components/basic/Header/index.module.scss
  apps/web/src/hooks/useScreenSize.ts
Due: yarn workspace web lint --cache

feat(image): 이미지 컴포넌트 오류 수정
  apps/web/src/app/[lang]/modal/view.tsx
  packages/ui/src/components/image/image.tsx
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat(layout): swiper 컴포넌트 추가
  apps/web/src/app/[lang]/modal/view.tsx
  apps/web/src/components/basic/SwiperContainer/SwiperContainer.tsx
  apps/web/src/components/basic/SwiperContainer/index.module.scss
  apps/web/src/context/ClientContext.tsx
  packages/ui/src/components/floating-button/floating-button.tsx
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat(layout): bottom sheet 라이브러리 추가
  apps/web/package.json
  apps/web/src/app/[lang]/modal/view.tsx
  yarn.lock
Due: yarn workspace web lint --cache

feat(tab): 탭 컴포넌트 예시 추가
  apps/web/src/app/[lang]/modal/view.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/tab-component/index.module.scss
  packages/ui/src/components/tab-component/index.ts
  packages/ui/src/components/tab-component/tab-component.tsx
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat(main): 메인페이지 라우터 구조 변경
  apps/web/src/app/[lang]/main/view.tsx
  apps/web/src/app/[lang]/page.tsx
  apps/web/src/styles/global.scss
  packages/ui/vite.config.mts.timestamp-1729487077229-5dbdb7795644b.mjs
Due: yarn workspace web lint --cache

feat(swiper): pagination 기능 추가
  apps/web/src/components/basic/SwiperContainer/SwiperContainer.tsx
Due: yarn workspace web lint --cache

feat: tag 컴포넌트 스토리북 추가
  apps/storybook/stories/Tab.stories.tsx
  apps/web/src/app/[lang]/modal/view.tsx
Due: yarn workspace web lint --cache

feat(sidebar): transition 적용되게 기능 변경
  apps/web/src/components/basic/Header/Header.tsx
  apps/web/src/components/basic/Header/_components/MobileView/MobileView.tsx
Due: yarn workspace web lint --cache

feat: 탭 컴포넌트 추가
  apps/web/src/app/[lang]/modal/view.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/indicator/index.module.scss
  packages/ui/src/components/indicator/index.ts
  packages/ui/src/components/indicator/indicator.tsx
  packages/ui/src/components/tab-component/index.module.scss
  packages/ui/src/components/tab-component/tab-component.tsx
Due: yarn workspace @repo/ui lint --cache, yarn workspace web lint --cache

feat(main): imageGallery 추가
  apps/web/package.json
  apps/web/src/app/[lang]/main/view.tsx
  apps/web/src/components/basic/ImageGallery/ImageGallery.tsx
  apps/web/src/components/basic/ImageGallery/index.ts
  apps/web/src/types/overlay.d.ts
  apps/web/src/utils/onGalleryModal.tsx
  yarn.lock
Due: yarn workspace web lint --cache

Path conditions:
  yarn workspace @repo/ui lint --cache: any of: packages/ui/**/*.{js,jsx,ts,tsx}
  yarn workspace web lint --cache: any of: apps/web/**/*.{js,jsx,ts,tsx}
